<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body id="index" class="home">

    <header>
        <h1>
            Main Header
        </h1>
    </header>

    <div class="one-two cf">
        <div class="two">2</div>



        <div id="content" class="one">

            <article class="entry">
                <header>
                    <h2>
                        Entry Title
                    </h2>
                </header>
                <div class="entry-content">
                </div>
                <footer class="post-info">
                    <!-- Published on <abbr class="dt-published" title="2019-01-01T00:00:00+01:00">2019-01-01</abbr>
by
<span class="h-card p-author">Danny</span>
in
<a href="/writing/tag/tech.html" class="p-category">tech</a>
                -->
                </footer>
            </article>

            <footer id="contentinfo">
                <!--
        <address id="about">
            Powered by <a href="http://getpelican.com/">Pelican</a>.
            Copyright 2012-2018 by .
        </address>
    -->
            </footer>
        </div>
        <div class="three">3</div>
</body>

</html>