<!DOCTYPE html>
<html lang="en">

<head>
    <title>FOAF Retro</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="color-scheme" content="light dark">

    <link rel="stylesheet" href="css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="css/grid-columns.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/fancier.css" type="text/css" />

    <script src="js/fancier.js" defer></script>
</head>

<body>
    <header id="main-header">
        <h1 class="h-title">
           FOAF Retro
        </h1>
    </header>
    <div class="grid-container">
        <div class="main-grid-item directory">
            <p><strong>Under Construction</strong></p>
            <p><em>there are many to-dos</em></p>
      

            <select id="theme-select">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
              </select>
            </div>

        <div class="main-grid-item articles">
            <article>
                {{content}}
            </article>
        </div>

        <div class="main-grid-item about">
            <!--
            <h2>About</h2>
            {{footer}}
            -->
        </div>
    </div>
</body>

</html>