PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

SELECT ?post ?headline ?content ?published ?modified ?author
WHERE {
  ?post a schema:Article ;
        schema:headline ?headline ;
        schema:description ?content ;
        schema:datePublished ?published ;
        schema:dateModified ?modified ;
        schema:author/schema:name ?author .
  FILTER(?published >= "{{startDate}}"^^xsd:dateTime)
}
ORDER BY DESC(?published)
LIMIT 1