PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

INSERT DATA {
  <http://example.com/posts/{{id}}> a schema:BlogPosting ;
    schema:headline "{{title}}" ;
    schema:url <http://example.com/posts/{{id}}> ;
    schema:description """{{content}}""" ;
    schema:datePublished "{{published}}"^^xsd:dateTime ;
    schema:dateModified "{{modified}}"^^xsd:dateTime ;
    schema:author [
      a schema:Person ;
      schema:name "{{author.name}}" ;
      schema:email "{{author.email}}"
    ] .
}