

PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX : <http://purl.org/stuff/transmissions/>

# https://schema.org/BlogPosting
# https://schema.org/Article

INSERT DATA {
  <{{url}}> a schema:Article ;
    :sourcePath "{{sourcePath}}" ;
    :relPath "{{relPath}}" ;
    :slug "{{slug}}" ;

    schema:headline "{{title}}" ;
  #  schema:url <http://example.com/posts/{{id}}> ;
    schema:articleBody """{{content}}""" ;
    schema:datePublished "{{dates.created}}"^^xsd:dateTime ;
    schema:dateModified "{{dates.read}}"^^xsd:dateTime ;
    schema:creator <{{creator.uri}}> .
    <{{creator.uri}}> a schema:Person ;
      schema:name "{{creator.name}}" .
}