PREFIX bm: <http://purl.org/stuff/bm/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

INSERT DATA {
  GRAPH <{{graph}}> {
    <{{bookmark}}> bm:content """{{content | safe}}""" ;
               bm:markdownContentType "text/markdown" ;
               bm:fetched "{{fetched}}"^^xsd:dateTime .
  }
}