
# https://schema.org/BookmarkAction

PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX : <http://purl.org/stuff/transmissions/>

INSERT DATA {
  <{{url}}> a schema:URL .
  <{{actionURI}}> a schema:BookmarkAction ;
        schema:url <{{url}}> ;
        schema:dateCreated "{{dates.created}}"^^xsd:dateTime ;
        schema:label <{{text}}> ; 
        schema:agent <{{agent}}> .
}