<!-- POST CONTENT TEMPLATE -->

<article class="post-content">
        <a href="{{link}}">#</a>
    {{content}}
</article>
<p class="post-title h-cinzel">
    <a href="{{link}}">
        {{title}}
    </a>
</p> <em>{{updated}}</em>