PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX : <http://purl.org/stuff/transmissions/>

SELECT * WHERE {

  ?article a schema:Article ;
    :sourcePath ?sourcePath ;
    :relPath ?relPath ;
    :slug ?slug ;
    schema:headline ?title ;
    schema:dateModified ?modified ;
    schema:articleBody ?content ;
    schema:creator ?creator .

  ?creator a schema:Person ;
    schema:name ?creatorName .

OPTIONAL {
    ?article schema:datePublished ?published ;
}
#   FILTER(?published >= "{{startDate}}"^^xsd:dateTime)
}
ORDER BY DESC(?published)
LIMIT 1