<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="css/grid-columns.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />

</head>

<body>
    <header id="main-header">
        <h1>
            Main Header
        </h1>
    </header>
    <div class="grid-container">
        <div class="main-grid-item directory">
            <h2>directory</h2>
            <p>i cinque secoli, ma anche al passaggio alla videoimp</p>
        </div>
        <div class="main-grid-item articles">
            <h2>articles</h2>
            <article>
                <h3>Cos’è Lorem Ipsum?</h3>
                <p>
                    Lorem Ipsum è un testo <strong>segnaposto</strong> utilizzato nel <em>settore della tipografia</em>
                    e della stampa. Lorem
                    Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo
                    tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È
                    sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione,
                    pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei
                    fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più
                    recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem
                    Ipsum.</p>
            </article>
        </div>
        <div class="main-grid-item about">
            <h2>About</h2>
        </div>
    </div>
</body>

</html>