PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX : <http://purl.org/stuff/transmissions/>

SELECT DISTINCT * WHERE {
     GRAPH ?g {
  ?article a schema:Article ;
    schema:headline ?title ;
    schema:dateModified ?modified ;
    schema:dateCreated ?created ;
    schema:creator ?creator ;
    :htmlContent ?html .

  ?creator a schema:Person ;
    schema:name ?creatorName .

}
 # FILTER(STR(?created) != "")
}
ORDER BY DESC(?created)
LIMIT 10