

PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX : <http://purl.org/stuff/transmissions/>

# https://schema.org/BlogPosting
# https://schema.org/Article

INSERT DATA {
      GRAPH <{{graph}}> {
  <{{uri}}> a schema:Article ;
     :sourcePath "{{sourcePath}}" ; # remove?
        :relative "{{relative}}" ;
  #      :relPath "{{relPath}}" ;
 #       :relMap "{{relMap}}" ;
        :slug "{{slug}}" ;
        schema:headline "{{title}}" ;
        schema:dateCreated "{{dates.created}}"^^xsd:dateTime ;
        schema:dateModified "{{dates.modified}}"^^xsd:dateTime ;
        schema:articleBody """ {{content | safe}} """ .
}
}