{% raw %}
{# Import dependencies #}
{% set TextUtils = require('./TextUtils.js') %}
{% set config = require('./config.js').config %}
{% set langConfig = require('./languageConfig.js').languageConfig %}

{# Helper function for literal formatting #}
{% macro formatLiteral(value, field) %}
    {%- if value.lang and TextUtils.isValidLanguageTag(value.lang) -%}
        {{- TextUtils.escapeStringLiteral(value.value, { language: value.lang }) -}}
    {%- elif not langConfig.nonLanguageFields.has(field) and langConfig.defaultLanguage -%}
        {{- TextUtils.escapeStringLiteral(value, { language: langConfig.defaultLanguage }) -}}
    {%- else -%}
        {{- TextUtils.escapeStringLiteral(value) -}}
    {%- endif -%}
{% endmacro %}

{# Common RDF prefixes #}
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix schema: <http://schema.org/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix trn: <http://purl.org/stuff/transmissions/> .
@prefix agents: <http://purl.org/stuff/agents/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

{% if config.requiredFields.every(field => message[field]) %}
<{{ config.baseUrl }}/{{ TextUtils.createSlug(message.slug) }}> a schema:Article
    {%- if message.title -%}
    ;
    schema:headline {{ formatLiteral(message.title, 'title') }}
    {%- endif -%}
    
    {%- if message.summary -%}
    ;
    rdfs:summary {{ formatLiteral(message.summary, 'summary') }}
    {%- endif -%}
    
    {%- if message.content -%}
    ;
    schema:articleBody {{ formatLiteral(message.content, 'articleBody') }}
    {%- endif -%}
    
    {%- if message.author -%}
    ;
    schema:author [
        a schema:Person ;
        a foaf:Person
        {%- if message.author.name -%}
        ;
        schema:name {{ formatLiteral(message.author.name, 'author.name') }}
        {%- endif -%}
        {%- if message.author.homepage -%}
        ;
        foaf:homepage <{{ TextUtils.escapeIRI(message.author.homepage) }}>
        {%- endif -%}
    ]
    {%- endif -%}
    
    {# Handle multilingual values #}
    {%- if message.translations -%}
        {%- for field, translations in message.translations -%}
            {%- for lang, value in translations -%}
                {%- if TextUtils.isValidLanguageTag(lang) -%}
                ;
                schema:{{ field }} {{ TextUtils.escapeStringLiteral(value, { language: lang }) }}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
    {%- endif -%}
.
{% endif %}{% endraw %}