PREFIX schema: <http://schema.org/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX : <http://purl.org/stuff/transmissions/>
PREFIX bm: <http://purl.org/stuff/bm/>

DELETE {
  GRAPH <{{graph}}> {
    ?bookmark ?p ?o .
  }
}
INSERT {
  GRAPH <{{graph}}> {
    <{{uri}}> a bm:Bookmark ;
          bm:target <{{target}}> ;
          bm:agent <{{agent}}> ;
          bm:created "{{created}}"^^xsd:dateTime ;
          bm:title "{{title | safe}}" ;
          bm:status "{{status}}"^^xsd:integer .
  }
}
WHERE {
  OPTIONAL {
    GRAPH <{{graph}}> {
      ?bookmark a bm:Bookmark ;
                bm:target <{{target}}> .
      ?bookmark ?p ?o .
    }
  }
}